@import "tailwindcss";
@tailwind utilities;

/* Configurar dark mode basado en clase */
@variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
html:not(.dark):not(.light) {
  opacity: 0;
}

/* Prevenir flash de tema incorrecto */
html:not(.dark):not(.light) {
  visibility: hidden;
}

html.dark,
html.light {
  visibility: visible;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Scrollbar personalizado */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: #1f2937;
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
  }

  /* Para Firefox */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937;
  }
}